/*Colors*/
@import "utils";


h1, h2, h3, h4, h5{
    color: $black;
}

header h1{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: normal;
}

html, body{
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    padding:0px;
}

#body{
    height:100%;
    width:100%;
    background-color:$white;
}

#main_header{
    
    @include list_no_format;
    
    /*Barra superior*/
    #tiny{
        vertical-align:middle;
        padding-bottom:2px;
        @include full_bar(20px,$black);    
        a{
            color:$light_grey;
            text-decoration:underline;
            font-size:0.8em;
            
        }
        .login{
            float:right;
            margin-right:10px;
        }
        ul{
            margin-left:10px;
        }
    }
    
    /*Barra naranja*/
    #buttons{
        @include full_bar($height_navigation_bar,$orange_citius);
        ul{
            li{ 
                //margin-left: -6px;
                border-right:1px solid rgb(196, 91, 48);
                
                a{ 
                    @include navigation_button(30px); 
                    margin:0px;
                }
            }
        }
    }
}

#main_body{
    height:100%;
    width:100%;
    .button, input[type="button"], input[type="submit"]{    
        @include button;
    }
}

.center{
    text-align:center;
    margin:auto;
}

.error{
    color:$red_error;
}

section{
    margin:0px 30px;
}

#content{
    display:block;
    float:left;
    margin: auto;
}

[data-icon]:before {
    font-family: 'icons'; 
    content: attr(data-icon);
    speak: none;
    font-size:1.5em;
}

.left{
    float:left;
    display:inline-block;
}

.right{
    float:right;
    display:inline-block;
}

div.ui-datepicker{
    font-size:0.9em;
}

#resourcesTree{
    background-color:white;       
    li[rel="resource"]{
        a{
            .jstree-icon{
                display:none !important;                  
            }
        }
    }
}

.link{
    @include link;
    text-decoration:underline;
}