/*Colors*/

@import "utils";
@import "modules/reservation_nav";

#main_body{
    section{
        margin:0px;
        padding: 1% 1%;
    }    
}

#content {
    width: 100%;
    border-collapse:collapse;
    text-align:center;
    table{
        max-width:97%;
        min-width:90%;
        margin:0 auto 0 2%;

        .date{
            th{
                height:10px;
                border-bottom: thin solid $light_grey;
            }
        }
        
        td{
            text-align:left;
            padding:3px 10px;
            font-size:0.9em;
            vertical-align: bottom;

            .link{
                text-decoration:underline;
                &:hover{
                    cursor: hand; 
                    cursor: pointer;
                    color:$dark_grey;
                }
            }

            &:first-child{
                max-width:70px;
                vertical-align: top;    
                text-align: left;
                padding:10px 20px 0px 0px;
                color:$dark_grey;
                font-weight: bold;
                //font-size:1.2em;
            }
        }
        
        .header {
            td{
                border: 0px;
                font-size:0.8em;
                font-weight: normal;
                padding:0px 10px;
                color:$dark_grey;
            }
        }
    }
}
