/*Colors*/

@import "utils";

#main_body{
    section{
        margin:0px;
        padding: 0% 5%;
    }    
}

#resources{
    float:left;
    #resourcesTree{
        background-color:white;       
    }
}

#content {
    form{
        label{
            display:block;
            margin-bottom:5px;
        }
        input[type="text"],
        textarea{
            width:500px;
        }
        textarea{
            height:150px;
        }
        .radio{
            display:block;
        }
    }
}

li[rel="resource"]{
    a{
        .jstree-icon{
            display:none !important;                  
        }
    }
}