/*Colors*/
@font-face {
  font-family: icons;
  src: url("/resources/font/entypo.ttf"), url("/resources/font/entypo.eot"), url("/resources/font/entypo.woff"), url("/resources/font/entypo.svg"); }

#main_body section {
  margin: 0px;
  padding: 0% 5%; }

#resources {
  float: left; }
  #resources #resourcesTree {
    background-color: white; }

#content form label {
  display: block;
  margin-bottom: 5px; }
#content form input[type="text"],
#content form textarea {
  width: 500px; }
#content form textarea {
  height: 150px; }
#content form .radio {
  display: block; }

li[rel="resource"] a .jstree-icon {
  display: none !important; }
