/*Colors*/
@font-face {
  font-family: 'icons';
  src: url("/Reservas/resources/font/entypo.ttf"); }

@font-face {
  font-family: 'icons';
  src: url("/Reservas/resources/font/entypo.ttf"); }

#reservation_nav {
  display: block;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  padding: 8px 10px 6px 15px;
  vertical-align: middle; }
  #reservation_nav a {
    text-decoration: none; }
  #reservation_nav span {
    color: #333333; }
  #reservation_nav ul {
    display: inline-block;
    margin: 0px;
    padding: 0px; }
    #reservation_nav ul li {
      margin: 0px;
      list-style: none;
      display: inline-block; }
  #reservation_nav .left {
    vertical-align: middle; }
    #reservation_nav .left a {
      display: inline;
      font-size: 1.5em;
      color: #666666; }
      #reservation_nav .left a:hover {
        color: #333333; }
    #reservation_nav .left .ui-datepicker-trigger {
      width: 1.7em;
      cursor: hand;
      cursor: pointer;
      vertical-align: bottom; }
  #reservation_nav .right {
    vertical-align: middle; }
    #reservation_nav .right span {
      margin-right: 10px; }
  #reservation_nav .reservas_btn {
    background-color: #666666;
    margin: 0px;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }

#main_body section {
  margin: 0px;
  padding: 1% 1%; }

#content {
  width: 100%;
  border-collapse: collapse;
  text-align: center; }
  #content table {
    max-width: 97%;
    min-width: 90%;
    margin: 0 auto 0 2%; }
    #content table .date th {
      height: 10px;
      border-bottom: thin solid #cccccc; }
    #content table td {
      text-align: left;
      padding: 3px 10px;
      font-size: 1em;
      vertical-align: bottom; }
      #content table td:first-child {
        max-width: 70px;
        vertical-align: top;
        text-align: left;
        padding: 10px 20px 0px 0px;
        color: #666666;
        font-weight: bold; }
    #content table .header td {
      border: 0px;
      font-size: 0.9em;
      font-weight: normal;
      padding: 0px 10px;
      color: #666666; }
